@model List<ccbs.Models.Merchant>
@{
    Layout = null;
}
<div class="sidebar">
    <div class="box-small-padding">
        <h4>
            Related Topics
        </h4>
        @foreach (var merchant in Model)
        {
            char[] temp = new char[20];
            string title;
            if (merchant.Title.Length > 14)
            {
                merchant.Title.CopyTo(0, temp, 0, 14);
                title = new String(temp) + "...";
            }
            else
            {
                title = merchant.Title;
            }
            <p>@Html.ActionLink(title, "Details", "Merchant", new { id = @merchant.Id }, null)</p>
        }
    </div>
</div>
