@model ccbs.Models.Merchant
@{
    ViewBag.Title = Model.Title;
}
<div id="content">
    <div class="box-small-padding">
        <div class="display-field">
            <div style="text-align: center;">
                <h4>@Model.Title</h4>
            </div>
            <br class="clearfix" />
        </div>
        <div class="display-field">
            @Html.Raw(HttpUtility.HtmlDecode(Model.Description))
        </div>
    </div>
    <br class="clearfix" />
</div>
<div>
    @{Html.RenderAction("_MerchantList", "Merchant");}
</div>
