@model List<ccbs.Models.Volunteer>
@{
    ViewBag.Title = "AllGroupMembers";
}
<div id="content">
    <h4>
        点击姓名查看组员的接待新生情况</h4>
    <br />
    <div class="arrowLinks">
        <ul>
            @foreach (var vol in Model)
            {
                <li>
                    @Ajax.ActionLink(@vol.Name, "_ViewDetails", "Volunteer", new { volId = vol.Id }, new AjaxOptions { OnComplete = "onVolunteerComplete" }, null)
                </li>
            }
        </ul>
    </div>
    <div>
        @{Html.Telerik().Window()
                .Name("volunteer-detail-Window")
                .Title("志愿者信息")
                .Width(800)
                .Draggable(true)
                .Modal(true)
               .Visible(false).Render();}
    </div>
    <br class="clearfix" />
</div>
<div>
    @{Html.RenderPartial("_Sidebar");}
</div>
<script type="text/javascript">
    function onVolunteerComplete(context) {
        var detailWindow = $("#volunteer-detail-Window").data("tWindow");
        var JsonAdd = context.get_response().get_object();
        var PartialViewHtml = JsonAdd.PartialViewHtml;
        detailWindow.content(PartialViewHtml).center().open();
    }
</script>
