@model ccbs.Models.BBRegisterEntry
@{
    ViewBag.Title = "ShowRegisteredUsers";
}
<div>
    <ol>
        @foreach (var user in Model.RegisteredBBUsers)
        {
            <li>
                @user.Name
            </li>
        }
    </ol>
</div>
