@model List<ccbs.Models.Article>
@{
    Layout = null;
}
<div class="arrowLinks">
    <ul>
        @foreach (var article in Model)
        {
            string link = "/Article" + "#" + ccbs.Models.TreeNodeType.ArticleItem.ToString() + "," + article.Id.ToString();
            <li><a href="@link">@article.Title</a></li>
        }
        <li>@Html.ActionLink("more ...", "Index", "Article", null, null)</li>
    </ul>
</div>
