@model ccbs.Models.Article
@{
    ViewBag.Title = "删除文章";
}
<div id="content">
    <h3>
        Are you sure you want to delete this?</h3>
    <fieldset>
        <legend>删除文章</legend>
        <div class="display-label">
            Title</div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Title)
        </div>
        <div class="display-label">
            LastUpdate</div>
        <div class="display-field">
            @Html.DisplayFor(model => model.LastUpdate)
        </div>
    </fieldset>
    @using (Html.BeginForm())
    {
        <p>
            <input type="submit" value="Delete" />
            |
            @Html.ActionLink("Back to List", "Index")
        </p>
    }
    <br class="clearfix" />
</div>
<div>
    @{Html.RenderPartial("_Sidebar");}
</div>
