@{
    Layout = null;
    string Description = ViewBag.Description;
    bool IsPreviliged = (User.IsInRole(ccbs.Models.LWSFRoles.admin) || User.IsInRole(ccbs.Models.MyRoles.baikeEditor));
}
<div style="text-align: center">
    <h2>
        UTD 中国学生百科
    </h2>
    @if (IsPreviliged)
    {
        @Html.ActionLink("编辑", "EditDeclaration", "Article", null, null)
    }
</div>
<br />
<div class="display-content">
    @Html.Raw(Description)
</div>
