@{
    ViewBag.Title = "联系我们";
}
<div id="content-no-sidebar">
    <div class="box">
        <div style="padding-left: 250px;">
            <h4>
                联系我们</h4>
            <br />
            <p>
                主席: 郑媛 （接机事项请联系总负责人）
                <br />
                yuanzhengfacss@gmail.com
                <br />
                Phone: 214-517-3159
                <br />
            </p>
            <br />
            <p>
                总负责: 李谨焕
                <br />
                Likers.li33@gmail.com
                <br />
                Phone: 801-433-7437
                <br />
            </p>
            <br />
            <p>
                总负责: Millie Yeh
                <br />
                millie.yeh@outlook.com
                <br />
                Phone: 214-202-5388
                <br />
            </p>
            <br />
            <p>
                接机、临住负责人：赵洁
                <br />
                shirleyz1990@gmail.com
                <br />
                Phone: 972-302-3718
                <br />
            </p>
            <br />
            <p>
                接机、临住负责人：许日
                <br />
                xurigoon@gmail.com
                <br />
                Phone:469-407-4979
                <br />
            </p>
            <br />
            <p>
                网站方面：Xia, Lason
                <br />
                lasonxia@gmail.com
                <br />
                Phone: 214-436-0511
                <br />
                <br />
            </p>
        </div>
    </div>
    <br class="clearfix" />
</div>
