@{
    Layout = null;
}
@if (User.IsInRole(ccbs.Models.LWSFRoles.admin))
{
    <div class="sidebar" id="system-admin">
        <div class="box">
        </div>
    </div>
}
@if (User.IsInRole(ccbs.Models.LWSFRoles.coworker))
{
    <div class="sidebar" id="admin-for-coworker">
        <div class="box">
        </div>
    </div>
}
@if (User.IsInRole(ccbs.Models.LWSFRoles.bibleStudyManager))
{
    <div class="sidebar" id="admin-for-biblestudy">
    </div>
    <div class="sidebar" id="admin-for-worship">
        <div class="box">
        </div>
    </div>
}
@if (User.IsInRole(ccbs.Models.LWSFRoles.worshipManager))
{
    <div class="sidebar" id="admin-for-worship-manager">
        <div class="box">
        </div>
    </div>
}
@if (User.IsInRole(ccbs.Models.LWSFRoles.organizationLeader))
{
    <div class="sidebar" id="admin-for-org">
        <div class="box">
        </div>
    </div>
}
@if (User.IsInRole(ccbs.Models.LWSFRoles.groupLeader))
{
    <div class="sidebar" id="admin-for-group">
        <div class="box">
        </div>
    </div>
}
@if (User.IsInRole(ccbs.Models.LWSFRoles.volunteer))
{
    <div class="sidebar" id="admin-for-volunteer">
        <div class="box">
        </div>
    </div>
}
@if (User.IsInRole(ccbs.Models.LWSFRoles.newStudent))
{
    <div class="sidebar" id="admin-for-new-student">
        <div class="box">
        </div>
    </div>
}