@if (Request.IsAuthenticated)
{
    <b><small>Welcome <span style="color: Orange; font-weight: bold;">@User.Identity.Name</span>&nbsp&nbsp[@Html.ActionLink("Log Off", "LogOff", "Account")]</small>
    </b>
}
else
{
    @:[ @Html.ActionLink("Log On", "LogOn", "Account", new { returnUrl = Request.RawUrl }, null)]
}
