@model List<ccbs.Models.LocalHelp>
@{
    Layout = null;
}
<div class="arrowLinks">
    <ul>
        @foreach (var localhelp in Model)
        {
            <li>
                @Html.ActionLink(localhelp.Title, "LocalhelpDetails", "LocalHelp", new { id = localhelp.Id }, null)
            </li>
        }
        <li>@Html.ActionLink("more ...", "Index", "LocalHelp", null, null)</li>
    </ul>
</div>
