@model ccbs.Models.RegisterEntry
@{
    ViewBag.Title = "Register Successfully";
}
<div id="content-no-sidebar">
    <h4 style="color: Blue;">
        注册成功！ 请务必记下下面的信息，谢谢~</h4>
    <br />
    <p>
        活动: @Model.LocalHelp.Title</p>
    <p>
        时间: @Model.Time.ToString("MM/dd/yyyy hh:mm tt")</p>
    <p>
        地点： @Model.Address</p>
    <p>
        联系人: @Model.Contact
    </p>
    <br class="clearfix" />
</div>
