/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 3.0 License

Name       : Oceania
Description: A two-column, fixed-width design with a bright color scheme.
Version    : 1.0
Released   : 20120208
*/

*
{
    margin: 0;
    padding: 0;
}

a
{
    cursor: pointer;
    color: #1D68AB;
    text-decoration: underline;
}

a:hover
{
    text-decoration: none;
}

.arrowLinks ul
{
    list-style-type: none;
}

.arrowLinks li a:link, .arrowLinks li a:visited
{
    color: #1D68AB;
    display: block;
    text-decoration: underline;
    width: auto;
    padding: 3px 5px 3px 22px;
    background-image: url('Images/arrow.gif');
    background-repeat: no-repeat;
    background-position: left center;
}

.arrowLinks li a:hover
{
    background-color: #E3806F;
    border-left: 10px solid #E3806F;
    border-right: 10px solid #E3806F;
    color: #FFF;
    text-decoration: none;
}

body
{
    /*background: #CFD5DE url(images/img01.jpg) top left repeat-x;*/ /*background-color: rgb(230, 233, 249);*/
    background: #FFF url('Images/blue.png') repeat-x 50% 0;
    font-size: 100%;
    font-family: Times New Roman;
    margin: 0;
    padding: 0;
}

p
{
    line-height: 1.75em;
}

body, input
{
    font-family: Arial, sans-serif;
}

br.clearfix
{
    clear: both;
}

strong
{
    color: #333333;
}

/* HEADINGS   
----------------------------------------------------------*/
h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    color: #000;
}

h1
{
    font-size: 2em;
    padding-bottom: 0;
    margin-bottom: 0;
}

h2
{
    padding: 0 0 10px 0;
}

h3
{
    font-size: 1.2em;
}

h4
{
    font-size: 1.1em;
}

h5, h6
{
    font-size: 1em;
}

/*-------------------------------------------------------*/

img.alignleft
{
    margin: 5px 20px 20px 0;
    float: left;
}

img.aligntop
{
    margin: 5px 0 20px 0;
}

ul
{
    margin-bottom: 1.5em;
}

ul h4
{
    margin-bottom: 0.35em;
}

#content
{
    float: left;
    padding: 20px;
    width: 320px; /*background: #EAEEF2 url(images/img05.jpg) top left repeat-x;*/ /*border: dotted 2px rgb(230, 233, 249);*/
}

#footer
{
    margin: 30px 0 120px 0;
    text-align: center;
    color: #626E7F;
}

#footer a
{
    color: #626E7F;
}

#header
{
    /*background: #2C84AF url(images/img03.jpg) top left no-repeat;     color: inherit;*/
    height: 80px;
    position: relative;
    border-top: solid 1px #96D0F7; /*border-bottom: solid 1px #0C3459;*/
}

#logo
{
    bottom: -60px;
    height: 140px;
    position: absolute;
    left: 0px;
    line-height: 140px;
}

#logo a
{
    text-decoration: none;
    color: #FFFFFF;
}

#logo h1
{
    font-size: 2.8em;
}

#menu
{
    height: 62px;
    left: 340px;
    line-height: 62px;
    bottom: 0px;
    position: absolute;
}

#menu a
{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1.25em;
}

#menu ul
{
    padding: 0 25px 0 25px;
    list-style: none;
}

#menu ul li
{
    padding: 10px 15px 10px 15px;
    display: inline;
}

#menu ul li.current_page_item
{
    background: #56AFD8 url(images/img04.jpg) top left no-repeat;
    border-top: solid 1px #82D9ED;
    border-bottom: solid 1px #24627C;
}

#menu ul li.last
{
    padding-right: 0;
}

#page
{
    position: relative;
    margin: 0px 0 20px 0;
    padding: 0;
    width: 320px;
    background-color: #FFFFFF;
}

#page .section-list
{
    padding-left: 0;
    list-style: none;
}

#page .section-list li
{
    clear: both;
    padding: 25px 0 25px 0;
}

.leftsidebar
{
    background-color: Orange;
    float: left;
    width: 100px;
    padding-top: 20px;
    padding-left: 0px;
}

.leftsidebar #baike-menu
{
    padding-left: 15px;
}

.sidebar
{
    /*background: #EAEEF2 url(images/img05.jpg) top left repeat-x;*/
    width: 100px;
    margin: 0 0 0px 0px;
    padding-top: 20px;
    padding-right: 10px;
    padding-left: 20px; /*border: dotted 2px rgb(230, 233, 249);*/
}

.sidebar ul
{
    padding-top: 10px;
    list-style: none;
}

.sidebar ul li
{
    font-size: medium;
    padding: 5px 0 5px 0;
    border-top: dotted 1px #C5CDD8;
}

.sidebar ul li.first
{
    border-top: 0;
    padding-top: 0;
}

#wrapper
{
    position: relative;
    margin: 0 auto 0 auto;
    padding: 10px 0 0 0;
    width: 320px; /*background-color: #FFFFFF;*/
}

#logindisplay
{
    font-size: 1.1em;
    display: block;
    text-align: right;
    margin: 10px;
    color: White;
}

#logindisplay a:link
{
    color: white;
    text-decoration: underline;
}

#logindisplay a:visited
{
    color: white;
    text-decoration: underline;
}

#logindisplay a:hover
{
    color: white;
    text-decoration: none;
}

/* FORM LAYOUT ELEMENTS   
----------------------------------------------------------*/

fieldset
{
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend
{
    font-size: 1.2em;
    font-weight: bold;
}

textarea
{
    min-height: 75px;
    width: 150px;
}

.text-area-edit
{
    width: 200px;
    height: 300px;
}

.text-area-display
{
    border-style: none;
    border-color: Transparent;
    overflow: auto;
}

.text-area-in-table
{
    border-style: none;
    border-color: Transparent;
    overflow: auto;
}

input[type="text"], input[type="password"]
{
    border: 1px solid #ccc;
    padding: 2px;
    font-size: 1.0em;
    color: #444;
    width: 270px;
}

select
{
    border: 1px solid #ccc;
    padding: 2px;
    font-size: 1.0em;
    color: #444;
    width: 270px;
}

input[type="submit"]
{
    font-size: 1.0em;
    padding: 5px;
    background-color: Orange;
}

input[type="file"]
{
    font-size: 1.0em;
    padding: 5px;
    width: auto;
    height: 40px;
}

/* TABLE
----------------------------------------------------------*/

table
{
    border: solid 1px #e8eef4;
    border-collapse: collapse;
}

table td
{
    padding: 5px;
    border: solid 1px #e8eef4;
}

table th
{
    padding: 6px 5px;
    text-align: left;
    background-color: #e8eef4;
    border: solid 1px #e8eef4;
}

/* Styles for editor and display helpers
----------------------------------------------------------*/
.display-label, .editor-label
{
    margin: 1em 0 0 0;
    color: Blue;
}

.display-field, .editor-field
{
    margin: 0.5em 0 0 0;
}

.text-box
{
    width: 30em;
}

.text-box.multi-line
{
    height: 6.5em;
}

.tri-state
{
    width: 6em;
}

.texteditoralign
{
    position: absolute;
    right: 100px;
}

.box
{
    overflow: hidden;
    margin-bottom: 15px;
    padding: 20px 20px;
    border: 1px solid #E7DFD7;
    border-radius: 8px;
    background: #F8F8F8;
}

.box h4
{
    color: #ecd90c;
    padding: 10px 0 10px 14px;
    background: #56AFD8 url('Images/img-box-head.png') repeat;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

.editor-output
{
    font: normal 1em/1.1em "Consolas" , "Monaco" , "Bitstream Vera Sans Mono" , "Courier New" , Courier, monospace;
    border: 1px solid #ccc;
    background: #fff;
    display: block;
    padding: 4px 8px 8px;
}

.display-content ol
{
    margin: 0px 0;
    padding: 0;
    list-style-position: inside;
}

.display-content ol li
{
    margin: 0px;
    padding: 5px 0px 5px 0px;
    text-indent: -2em;
    margin-left: 2em;
}

.display-content ul
{
    margin: 0px 0;
    padding: 0;
    list-style-position: inside;
    list-style-type: circle;
}

.display-content ul li
{
    margin: 0px;
    padding: 5px 0px 5px 0px;
    text-indent: -2em;
    margin-left: 2em;
}
