@model IEnumerable<ccbs.Models.NewStudentViewModel>
@{
    ViewBag.Title = "New Students Assigned To" + ViewBag.grpName;
}
<div id="content-no-sidebar">
    <div>
        <div style="float: left;">
            <h3>
                New Students Assigned To @ViewBag.grpName</h3>
        </div>
        <div style="float: right; padding-right: 150px;">
            <a onclick="window.history.go(-1);return false;">Go Back</a>
        </div>
        <br />
        <br />
        <div>
            @{Html.Telerik().Grid<ccbs.Models.NewStudentViewModel>()
        .Name("NewstudentGrid")
        .DataKeys(keys =>
            {
                keys.Add(s => s.Id);
            })
        .ToolBar(commands =>
            {
                commands.Custom()
                    .Text("Export to Excel")
                    .Action("ExportExcelGrp", "NewStudent", new { grpId = ViewBag.grpId });
            })
        .Columns(columns =>
        {
            columns.Bound(s => s.Name).Width(100);
            columns.Bound(s => s.Gender).Width(80);
            columns.Bound(s => s.Email).Width(150);
            columns.Bound(s => s.Flight).Width(100);
            columns.Bound(s => s.ArrivalTime).Title("Arrive").Width(100);
            columns.Bound(s => s.Note).Width(150);
            columns.Bound(s => s.PickupStatus).Width(200).Title("Pickup");
            columns.Bound(s => s.TempHousingStatus).Width(200).Title("Housing");
            columns.Bound(o => o.CnName).Width(100);
            columns.Bound(o => o.ComeFrom).Width(100);
        })
        .DataBinding(dataBinding =>
            {
                dataBinding.Ajax().Select("_GrpNewStudentList", "NewStudent", new { grpId = ViewBag.grpId });
            })
        .Pageable(paging => paging.Enabled(false))
        .Scrollable(c => c.Height("600px"))
        .Sortable()
        .Filterable().Render();}
        </div>
    </div>
    <div id="result">
    </div>
    <br class="clearfix" />
</div>
