@{
    ViewBag.Title = "Registration Closed";
}

<div>
<h2>Registration Closed</h2>
</div>
<div>
    <p>New student airport pickup and host program has finished for this semester. This Summer(2014) we have provided help to Total: 533 New students</p>
</div>
