@{
    Layout = null;
}
<div>
    <div>
        @{Html.Telerik().Grid<ccbs.Models.NewStudentViewModel>()
        .Name("TempPoolGrid")
        .DataKeys(keys =>
        {
            keys.Add(s => s.Id);
        })
        .Columns(columns =>
        {
            columns.Bound(s => s.CnName).Width(70).Title("姓名");
            columns.Bound(s => s.Gender).Width(60).Title("性别");
            columns.Bound(s => s.Flight).Width(80).Title("航班");
            columns.Bound(s => s.ArrivalTime).Title("到达时间").Width(80)
            .Aggregate(aggregates => aggregates.Count())
            .ClientGroupHeaderTemplate("<#= Title #>: <#= Key #> (Count: <#= Count #>)");
            columns.Bound(s => s.Note).Width(130).Title("备注");
            columns.Bound(s => s.PickupStatus).Width(80).Title("接机");
            columns.Bound(s => s.TempHousingStatus).Width(80).Title("临住");
            columns.Bound(s => s.DaysOfHousing).Width(80).Title("临住时间");
            columns.Bound(s => s.Confirmed).Width(70).Title("进度");
            columns.Command(commands =>
            {
                commands.Delete().ButtonType(GridButtonType.Image);
            }).Width(80).Title("Remove");
        })
        .DataBinding(dataBinding =>
        {
            dataBinding.Ajax()
                .Select("_ShowTempPool", "NewStudent")
                .Delete("_RemoveFromTempPool", "NewStudent");
        })
        .Editable(editing => editing.Mode(GridEditMode.PopUp))
        .Pageable(paging => paging.Enabled(false))
        .Resizable(resizing => resizing.Columns(true))
        .Scrollable(c => c.Height("350px"))
        .Sortable()
        .Filterable()
        .Groupable(grouping => grouping.Enabled(true))
        .Render();}
    </div>
</div>
<div style="padding-top: 20px;">
    <div style="float: left; padding-right: 10px;">
        <button class="t-button t-state-default" onclick="assignedTempPoolToOrg()" style="height: 30px;
            width: 200px; color: red;">
            将Cart中的新生分配给
        </button>
        @(Html.Telerik().DropDownList()
                    .Name("TempPool_DropDownList_Organizations")
                    .BindTo(ViewBag.TempPool_DropDownList_Organizations)
                    .HtmlAttributes(new { style = "width: 350px;" })
                    .Placeholder("选择志愿者机构..."))
        <br />
        <br />
        <span id="TempPoolAssignResult" style="width: 350px; background-color: Orange;">
        </span>
    </div>
</div>
<script type="text/javascript">
    function assignedTempPoolToOrg() {
        var $org = document.getElementById("TempPool_DropDownList_Organizations").value;
        if ($org.length < 1) {
            alert('Please select an organization.');
            return;
        }
        var str = "确定Cart中所有新生分配给该机构吗？";
        var r = confirm(str);
        if (r == false) {
            return;
        }
        $('#TempPoolAssignResult').load('/NewStudent/TempPoolToOrg?org=' + $org, function () {
            $(".t-grid .t-refresh").trigger('click');
        });
    }
</script>
