@{
    ViewBag.Title = "Log On";
}
<div id="content-no-sidebar">
    <div class="box" style="width: 200px; margin-left: auto; margin-right: auto;">
        <h3 style="text-align: center;">
            系统登录</h3>
        @{Html.RenderPartial("_LogOn");}
    </div>
</div>
