@{
    ViewBag.Title = "ResetPswEmailSent";
}
<div id="content">
    <h4>
        The password reset message has been sent to @ViewBag.Email. Please Check your email</h4>
    <br class="clearfix" />
</div>
<div>
    @{Html.RenderPartial("_Sidebar");}
</div>
